.offers{
    /* background: red; */
    display: flex;
    overflow: hidden;
    justify-content: center;
    width: 95.3%;
    height: 78vh;
    padding: 30px;
}
.offers img{
    width: 80%;
    height: 60vh;
    border: none;
    border-radius: 35px;
}